/* GLOBAL */

body,
html {
    background-color: black;
    font-family: "Share Tech Mono", monospace;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    width: 95%;
    margin: 2.5% 2.4%;
    border: 1px dashed white;
}



/* HOME, STARTX*/

#title {
    width: 100%;
    display: block;
    margin-top: 3%;
    font-size: 120%;
    text-align: center;
    white-space: pre;
    word-wrap: normal;
    color: red;
}

.intro-text {
    width: 100%;
    margin: 0% 0% 2% 0%;
    font-size: 125%;
    text-align: center;
}

.intro-body {
    width: 80%;
    margin: 0 auto 3% auto;
}

.intro-details {
    margin-bottom: 0.25%;
}


/* HOME */

.home-links {
    text-decoration: none;
    color: #29B6F6;
    width: 30%;
    margin: 0 auto;
    margin-top: 3%;
    display: block;
    text-align: center;
    border: 1px dashed #29B6F6;
    padding: 1% 0%;
    font-size: 120%;
    cursor: pointer;
}

.home-links:hover {
    color: yellow;
    border: 1px dashed yellow;
}

.red {
    margin-top: 1%;
    color: red;
    border: 1px dashed red;
}

.yellow {
    margin-top: 1%;
    color: yellow;
    border: 1px dashed yellow;
}


/* CMDLINE */

#terminal-output {
    width: 95%;
    margin: 5% 2.5%;
    font-size: 130%;
    white-space: pre;
}

#terminal-input {
    width: 0;
    background-color: black;
    border: none;
}

.ter-inp {
    color: yellow;
}

.cmd-links {
    text-decoration: none;
    color: #B3E5FC;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

/* STARTX - EVENTS */

.container {
	display: none;
}

.accordian {
	text-decoration: none;
    color: #29B6F6;
    width: 30%;
    margin: 0 auto;
    margin-top: 3%;
    display: block;
    text-align: center;
    border: 1px dashed #29B6F6;
    padding: 1% 0%;
    font-size: 120%;
}

.panel {
    padding: 10px;
    width: 30%;
    display: none;
    margin: 0 auto;
    background-color: black;
    overflow: hidden;
}

img {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.active {
	display: flex;
}

.show {
	display: block;
}

