body, html{
	background-color: black;
	font-family: 'Share Tech Mono', monospace;
	color: white;
	padding: 0;
	margin: 0;
}

body{
	width: 95%;
	margin: 2.5% 2.4%;
	padding-bottom: 5%;
	border: 1px dashed white;
}

#title{
	width: 100%;
	display: block;
	margin-top: 3%;
	font-size: 125%;
	text-align: center;
	white-space: pre;
	word-wrap: normal;
	color: red;
}

.intro-text{
	width: 100%;
	margin: 0% 0% 2% 0%;
	font-size: 125%;
	text-align: center;
}
.intro-body{
	width: 80%;
	margin:0 auto 3% auto;
}
.intro-details{
	margin-bottom: 0.25%;
}
.home-links{
	text-decoration: none;
	color: #29B6F6;
	width: 30%;
	margin: 0 auto;
	margin-top: 3%;
	display: block;
	text-align: center;
	border: 1px dashed #29B6F6;
	padding: 1% 0%;
	font-size: 120%;
}
.home-links:hover{
	color: yellow;
	border: 1px dashed yellow;
}
.blue1{
	margin-top: 4%;
	color: #29B6F6;
	border: 1px dashed #29B6F6;
}
.blue2{
	margin-top: 1%;
	color: #29B6F6;
	border: 1px dashed #29B6F6;
}
.arj1 {
    margin-left: 14%;
}
.ara1 {
    margin-left: 19%;
}
.yuv1 {
    margin-left: 8%;
}
.sri1 {
    margin-left: 13%;
}

#arj{
	width: 20%;
	height: 35%;
	margin-left: 5%;
	margin-right: 2%;
	
}
#ara{
	width: 20%;
	height: 35%;
	margin-left: 2%%;
}
#yuv{
	width: 20%;
	height: 35%;
	margin-left: 2%;
}
#sri{
	width: 20%;
	height: 35%;
	margin-left: 2%;
}

/* This is for the mobile responsive */

@media only screen and (max-width: 1000px) {

	body{
		width: 100%;
		margin: 2.5% 0%;
		padding-bottom: 5%;
		border: none;
	}

	#title{
		font-size: 160%;
		margin: 7% 0%;
		font-weight: 700;
	}

	.intro-text{
		width: 100%;
		margin: 3% 0% 2% 0%;
		font-size: 175%;
		text-align: center;
	}
	.intro-body{
		width: 95%;
		margin:0 auto 3% auto;
	}
	.intro-details{
		margin-bottom: 0.25%;
	}
	.home-links{
		width: 70%;
		font-weight: 700;
		margin-top: 8%;
		border: 3px dashed #29B6F6;
		padding: 3% 0%;
		font-size: 170%;
	}
	.home-links:hover{
		border: 3px dashed yellow;
	}
	.red{
		margin-top: 3%;
		border: 3px dashed red;
	}
	.yellow{
		margin-top: 3%;
		border: 3px dashed yellow;
	}
}
