body, html{
	background-color: black;
	font-family: 'Share Tech Mono', monospace;
	color: white;
	padding: 0%;
	margin: 0%;
	overflow-x: hidden;
}

body{
	width: 95%;
	margin: 2.5% 2.4%;
	padding-bottom: 5%;
	border: 1px dashed white;
}

#title{
	width: 100%;
	display: block;
	margin-top: 3%;
	font-size: 125%;
	text-align: center;
	white-space: pre;
	word-wrap: normal;
	color: red;
}

.intro-text1{
	width: 100%;
	margin: 0% 0% 2% 0%;
	font-size: 110%;
	text-align: left;
	margin-left: 31%;
	margin-top: -1%;
}
.intro-text2{
	width: 100%;
	margin: 0% 0% 2% 0%;
	font-size: 110%;
	text-align: left;
	margin-left: 33%;
	margin-top: -1%;
	color: yellow;
}
.intro-body{
	width: 80%;
	margin:0 auto 3% auto;
}
.home-links{
	text-decoration: none;
	color: #29B6F6;
	width: 30%;
	margin: 0 auto;
	margin-top: 3%;
	display: block;
	text-align: center;
	border: 1px dashed #29B6F6;
	padding: 1% 0%;
	font-size: 120%;
}
.home-links:hover{
	color: yellow;
	border: 1px dashed yellow;
}
.blue{
	margin-top: 1%;
	color: #29B6F6;
	border: 1px dashed #29B6F6;
}


/* This is for the mobile responsive */

@media only screen and (max-width: 1000px) {

	body, html{
		background-color: black;
		font-family: 'Share Tech Mono', monospace;
		color: white;
		padding: 0;
		margin: 0;
	}

	body{
		width: 95%;
		margin: 2.5% 2.4%;
		padding-bottom: 5%;
		border: 1px dashed white;
	}

	#title{
		width: 50%;
		display: block;
		margin-top: 3%;
		font-size: 125%;
		text-align: center;
		white-space: pre;
		word-wrap: normal;
		color: red;
	}

	.intro-text1{
		width: 70%;
		margin: 0% 0% 2% 0%;
		font-size: 110%;
		text-align: left;
		margin-left: 18%;
		margin-top: -1%;
	}
	.intro-text2{
		width: 70%;
		margin: 0% 0% 2% 0%;
		font-size: 110%;
		text-align: left;
		margin-left: 21%;
		margin-top: -1%;
	}
	
}
