body, html{
	background-color: black;
	font-family: "Share Tech Mono", monospace;
	color: yellow;
	padding: 0;
	margin: 0;
}

body{
	width: 95%;
	margin: 2.5% 2.4%;
	padding-bottom: 5%;
	border: 1px dashed white;
}

p {
	text-align: center;
	font-size: 150%;
}

#title{
	width: 99%;
	margin-left: .25%;
	display: block;
	margin-top: 2%;
	font-size: 120%;
	text-align: center;
	white-space: pre;
	word-wrap: normal;
	color: red;
}

.home-links{
	text-decoration: none;
	color: #29B6F6;
	width: 30%;
	margin: 0 auto;
	margin-top: 2%;
	display: block;
	text-align: center;
	border: 1px dashed #29B6F6;
	padding: 1% 0%;
	font-size: 120%;
	font-family: "Share Tech Mono", monospace;
	cursor: pointer;
}
.home-links:hover{
	color: yellow;
	border: 1px dashed yellow;
}


.top{
	margin-top: 5%;
}
.bottom{
	margin-top: 1%;
}
.dark-red{
	color: #E91E63;
	border: 1px dashed #E91E63;
}
.purple{
	color: #9C27B0;
	border: 1px dashed #9C27B0;
}
.below{
	margin-top: 1%;
}


#register-form{
	margin-top: 2%;
	width: 100%;
	text-align: center;
}
.form-input{
	margin-left: 35%;
	margin-top: 1%;
	display: block;
	padding-left: 1%;
	text-align: left;
	background-color: transparent;
}
.form-input:hover{
	border: 1px dashed #29b6f6;
	color: #29b6f6;
}
.long{
	width: 62%;
	border: 1px dashed orange;
	color: orange;
}
.long:hover{
	border: 1px dashed orange;
	color: orange;
}
.end{
	border: 1px dashed red;
	color: red;
}
.end:hover{
	border: 1px dashed red;
	color: red;
}
.submit-butt{
	border: none;
	background-color: black;
	color: yellow;
	border: 1px dashed yellow;
	width: 30%;
	margin-left: 35%;
	margin-top: 1%;
}

